 html {
  width:100vw;
  height:100vh;
  background:url(./img/artesano.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  background-color:transparent;
}

ul {
  display: flex;
}

li {
  margin: 10px;
  list-style: none;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: underline 2px rgb(55, 122, 247);
  text-underline-offset: 11px;
  color: grey;
} 

.field {
  display: block;
	font-weight: 600;
	font-size: 13px;
	margin-bottom: 5px;
  font-family: cursive;
}

.submit {
  margin-top: 15px;
  display: flex;
	background: #0085FF;
	font-weight: 200;
	font-family: cursive;
	border: none;
	cursor: pointer;
	padding: 6px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.submit:hover {
  background: #0051ff;
}

.field-error {
  color:white;
}

.cardStyles {
  display:flex;
  flex-wrap: wrap;
  padding:20px;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap:1em;
}
